<!--<div class ="">
<label> Input Item:
	<input #itemName>;
</label>


<button (click)= "add(itemName.value); itemName.value =''">
	add
</button>
  <h2>My favorite item is: {{myBike}}</h2>
  <p>Items:</p>
  <ul class = "item">
    <li *ngFor="let item ">
      {{ item }}
    </li>
  </ul>
</div>-->
  <div class="form-group">
            <label for="issueDescInput">Severity</label>
             <select class="form-control" id="issueSeverityInput">
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select> 
          </div>