@import url(https://fonts.googleapis.com/css?family=Pacifico);

.footer {
    background-color: #777;
    padding: 10px;
    text-align: right;
    color: red;
    font-family: 'Pacifico', cursive;
}
