Marina Touceda
Buenos Aires,Argentina | 15 4497 3663 | marinatouceda@hotmail.com-marinatouceda79@gmail.com-                           Skype :marinatouceda79 (marinatouceda79@gmail.com)-
GIT Accounts:
https://github.com/marinatouceda
Technical Skills 
HTML, CSS3, Jquery, Javascript
Frameworks MVC: Ember, Angular      
Node.js
Frameworks: Express
Mocha, Chai, Selenium,	
GIT, Jira, Jenkins
Experience
SOFTWARE DEVELOPER |GoIntegro | AUGUST 2015-PRESENT-
Developed fully functional features based on Product Requirements using the latest front-end technologies 
Implement endpoints with node js.
Development of test ui framework with node,js, selenium and gulp. 
SOFTWARE DEVELOPER  | Avaya | APril 2010-August 2015 
 Develop of UI Interface, using Avaya tools.
 Develop of desktop applications on Java language.
 Construction of enviroment of Continuos Integrations.Build of test framework.
 Work under an Agile environment. Use of Atlassian tools ( Bamboo, Jira).
SOFTWARE DEVELOPER IN TEST  | SABRE HOLDINGS | MAY 2007-APRIL 2010
 Development of QTP scripts in Visual Basic.
 Development of test suite on Fitnesse (Datasets and Pages)
Education
SYSTEMS ENGINEER | 2004 | Universidad tecnologica nacional-UTN_ FRBA
Languages 
spanish- Native/ ENGLISH-ADVANCE 
